<% require 'net/http' %>
<% require 'json' %>

<% def fetch_dog_image(breed) %>
  <% uri = URI("https://dog.ceo/api/breed/#{breed.name}/images/random") %>
  
  <% response = Net::HTTP.get_response(uri) %>
  <% data = JSON.parse(response.body) %>
  
  <% if data['status'] == 'success' %>
    <% return data['message'] %>
  <% else %>
    <% return nil %>
  <% end %>
<% end %>

<h1 class="text-center">A list of all the Breeds</h1>
<div class="breed-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <% count = 1 %>
      <% @breeds.each do |breed_category| %>
        <tr>
          <td><%= count %></td>
          <td><a href="/breed/<%= Breed.find(breed_category.breed_id).name %>"><%= Breed.find(breed_category.breed_id).name %></a></td>
          <td>
            <% breed = Breed.find(breed_category.breed_id) %>
            <% image_url = fetch_dog_image(breed) %>
            <% if image_url %>
              <img src="<%= image_url %>" alt="<%= breed.name %> image" class="img-fluid" style="max-width: 100px;" />
            <% else %>
              <p>No image available</p>
            <% end %>
          </td>
        </tr>
        <% count += 1 %>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  h1 {
    margin-top: 40px;
    text-transform: capitalize;
  }

  .breed-container {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    text-transform: capitalize;
  }
</style>
